# Oracle Settings
export TMP=/home/oracle/tmp/

export ORACLE_HOSTNAME={{ oracle_hostname }}
export ORACLE_UNQNAME=orcl
export ORACLE_APP=/home/oracle/app
export ORACLE_BASE=$ORACLE_APP/oracle
export ORACLE_HOME=$ORACLE_BASE/product/11.2.0/dbhome_1

export ORACLE_SID=orcl

PATH=/usr/sbin:$PATH:$ORACLE_HOME/bin

export LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib;
export CLASSPATH=$ORACLE_HOME/jlib:$ORACLE_HOME/rdbms/jlib;

alias cdob='cd $ORACLE_BASE'
alias cdoh='cd $ORACLE_HOME'
alias tns='cd $ORACLE_HOME/network/admin'
alias envo='env | grep ORACLE'

umask 022
